@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1{
    text-align: center;
    font-size: 3em;


}

#conta{
    background-color: lightblue;
    padding: 20px;
    width: 500px;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-color: rgb(133, 183, 201);
    border-style: solid;
    border-width: 5px;

    text-align: center;
}

#conta > p{
    font-weight: bolder;
}

input{
    border-radius: 15px;
    font-size: 1em;
    text-align: center;
}


#butao , #limpar  {
    width: 100px;
    font-size: 1em;
    font-weight: bold;
    
    
}

#resultado{
    background-color: rgb(253, 253, 128);
    padding: 20px;
    width: 500px;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    display: none;

    text-align: center;
    font-size: 2em;
    
}






